# --- Python & Ambientes ---
__pycache__/
*.pyc
venv/
.env

# --- Dados e Bancos ---
*.db
*.sqlite
literatura.db

# --- Artefatos de Indexação (Binários pesados) ---
*.pkl
ids_documentos.pkl
tfidf_matrix.pkl
vectorizer.pkl

# --- PASTAS DE DADOS BRUTOS (O Pulo do Gato) ---
# Ignora tudo dentro da pasta corpus (os 88 livros em txt)
corpus/*

# Ignora tudo dentro da pasta de pdfs
static/pdfs/*

# --- Logs e Uploads ---
logs/
uploads/

# --- IDEs ---
.vscode/
.idea/